# general
.DS_Store
*.log
*.tmp

# node/grafana exports
node_modules/

# docker
*.env
.env
!.env.example
secrets/*
!secrets/.gitkeep

# editor/IDE
.vscode/
.idea/

# custom files
notes/*